.head-tag{
    font-family: 'Lato', sans-serif;
    color: rgb(191, 195, 195);
    font-size: 25px;
    margin-top: 40px;
    animation: backInLeft;
    animation-duration: 2s;
    margin-bottom: 70px;
}
.service-items{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;  
}
.card {
    flex: 0 1 24%;
    margin-left: 30px;
    animation: backInRight;
    animation-duration: 2s;
    align-items: center;
}
.card-image{
    margin-left: 40px;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.card-tag{
    font-family: 'open-sans',sans-serif;
    color: rgb(191, 195, 195);
}
.card-title{
    font-family: 'Lato',sans-serif;
}

